<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置连接数据库的环境(给spring去做)-->

    <typeAliases>
        <package name="com.lzh.mybatis.pojo"/>
    </typeAliases>
    <!--引入映射文件-->
    <mappers>
        <mapper resource="mappers/VtuberMapper.xml"/>
    </mappers>
</configuration>