<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日</title>
    <script src="https://cdn.bootcss.com/echarts/5.3.1/echarts.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1 style="font-size:40px;">日整体情况</h1>
<table style="font-family:'Times New Roman';text-align:center">
    <tr align="left" >
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/month}">月</a></th>
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/day}">日</a></th>
        <th style="width: 250px;font-size:25px" ><a th:href="@{/Vtuber/ml}">Machine Learning</a></th>
        <th style="width: 500px">
            <form th:action="@{/Vtuber/queryVtuber}" method="post">
                <input type="submit" value="查找">
                <input type="text" name = "queryV" placeholder="......" required="required">
                <input name="queryV" type="radio" value="uid" id="uid" style="font-size:20px" checked="checked">UID
                <input name="queryV" type="radio" value="name" id="name" style="font-size:20px">名字
            </form>
        </th>
    </tr>
</table>
<script type="text/javascript">
    $("#uid").prop('checked', true);//radio默认选中
</script>
<div id="dIncome" style="width: 1550px;height:450px;"></div>
<br>
<br>
<div id="dParticipants" style="width: 1550px;height:450px;"></div>
<br>
<br>
<div id="dPay_num" style="width: 1550px;height:450px;"></div>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('dIncome'));
    myChart.clear();
    myChart.showLoading();
    var income = []; //y轴数据，营收
    var date1 = []; //x轴数据，月份
    $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "get_dIncome", //请求发送到TestServlet处
        dataType : "json", //返回数据形式为json
        success : function(result) {
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    income.push(result[i].income); //挨个取出
                }
                for (var i = 0; i < result.length; i++) {
                    date1.push(result[i].date1); //挨个取出销量并填入月份数组
                }
            }
            var option = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    text: '日营收'
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                    }
                },
                legend: {
                    data:['营收(元)']
                },
                xAxis: {
                    type:'category',
                    data: date1
                },
                yAxis: {
                    type:'value'
                },
                dataZoom:[{
                    type:'slider',
                    start : 85, //伸缩条开始位置（1-100），可以随时更改
                    end : 100 //伸缩条结束位置（1-100），可以随时更改
                }],
                series: [{
                    name: '营收',
                    areaStyle: {},
                    type: 'line',
                    data: income
                }]
            };
            myChart.hideLoading();
            myChart.setOption(option);
        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    })

    var myChart2 = echarts.init(document.getElementById('dParticipants'));
    myChart2.clear();
    myChart2.showLoading();
    var part = [];
    var date2 = [];
    $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "get_dParticipants", //请求发送到TestServlet处
        dataType : "json", //返回数据形式为json
        success : function(result) {
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    part.push(result[i].part); //挨个取出
                }
                for (var i = 0; i < result.length; i++) {
                    date2.push(result[i].date2); //挨个取出销量并填入月份数组
                }
            }
            var option = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    text: '日互动人数'
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                    }
                },
                legend: {
                    data:['人数']
                },
                xAxis: {
                    type:'category',
                    data: date2
                },
                yAxis: {
                    type:'value'
                },
                dataZoom:[{
                    type:'slider',
                    start : 85, //伸缩条开始位置（1-100），可以随时更改
                    end : 100 //伸缩条结束位置（1-100），可以随时更改
                }],
                series: [{
                    name: '互动人数',
                    areaStyle: {},
                    type: 'line',
                    data: part
                }]
            };
            myChart2.hideLoading();
            myChart2.setOption(option);
        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart2.hideLoading();
        }
    })

    var myChart3 = echarts.init(document.getElementById('dPay_num'));
    myChart3.clear();
    myChart3.showLoading();
    var pay = []; //y轴数据，营收
    var date3 = []; //x轴数据，月份
    $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "get_dPay_num", //请求发送到TestServlet处
        dataType : "json", //返回数据形式为json
        success : function(result) {
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    pay.push(result[i].pay); //挨个取出
                }
                for (var i = 0; i < result.length; i++) {
                    date3.push(result[i].date3); //挨个取出销量并填入月份数组
                }
            }
            var option = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    text: '日付费人数'
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                    }
                },
                legend: {
                    data:['付费人数']
                },
                xAxis: {
                    type:'category',
                    data: date3
                },
                yAxis: {
                    type:'value'
                },
                dataZoom:[{
                    type:'slider',
                    start : 85, //伸缩条开始位置（1-100），可以随时更改
                    end : 100 //伸缩条结束位置（1-100），可以随时更改
                }],
                series: [{
                    name: '付费人数',
                    type: 'line',
                    areaStyle: {},
                    data: pay
                }]
            };
            myChart3.hideLoading();
            myChart3.setOption(option);
        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart3.hideLoading();
        }
    })
</script>
</body>
</html>