<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <title>Result</title>
</head>
<body>
<h1 style="font-size:40px;">Result</h1>
<table style="font-family:'Times New Roman';text-align:center">
    <tr align="left" >
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/month}">月</a></th>
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/day}">日</a></th>
        <th style="width: 250px;font-size:25px" ><a th:href="@{/Vtuber/ml}">Machine Learning</a></th>
        <th style="width: 500px">
            <form th:action="@{/Vtuber/queryVtuber}" method="post">
                <input type="submit" value="查找">
                <input type="text" name = "queryV" placeholder="......" required="required">
                <input name="queryV" type="radio" value="uid" id="uid" style="font-size:20px" checked="checked">UID
                <input name="queryV" type="radio" value="name" id="name" style="font-size:20px">名字
            </form>
        </th>
    </tr>
</table>
<br>
<br>
<table th:each="vtuber:${list}">
    <tr>
        <td rowspan="6">
            <img th:src="${vtuber.face}" width="240" height="240">
        </td>
    </tr>
    <tr align="left">
        <th th:text="${vtuber.name}"></th>
    </tr>
    <tr>
        <td th:text="'UID: '+${vtuber.uid}"></td>
    </tr>
    <tr>
        <td th:text="'关注数: '+${vtuber.follower}"></td>
    </tr>
    <tr>
        <td th:text="'舰长数: '+${vtuber.guard_num}"></td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/Vtuber/queryVtuber(queryV=${vtuber.uid})}">查看</a>
        </td>
    </tr>
</table>

</div>
</body>
</html>