<!DOCTYPE html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <title>Info</title>
    <script src="https://cdn.bootcss.com/echarts/5.3.1/echarts.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1 style="font-size:40px;">Result</h1>
<table style="font-family:'Times New Roman';text-align:center">
    <tr align="left" >
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/month}">月</a></th>
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/day}">日</a></th>
        <th style="width: 250px;font-size:25px" ><a th:href="@{/Vtuber/ml}">Machine Learning</a></th>
        <th style="width: 500px">
            <form th:action="@{/Vtuber/queryVtuber}" method="post">
                <input type="submit" value="查找">
                <input type="text" name = "queryV" placeholder="......" required="required">
                <input name="queryV" type="radio" value="uid" id="uid" style="font-size:20px" checked="checked">UID
                <input name="queryV" type="radio" value="name" id="name" style="font-size:20px">名字
            </form>
        </th>
    </tr>
</table>
<br>
<br>
<table th:each="vtuber:${list}" border="1">
    <tr>
        <td rowspan="5">
            <img th:src="${vtuber.face}" width="180" height="180">
        </td>
    </tr>
    <tr align="left">
        <th th:text="${vtuber.name}"></th>
    </tr>
    <tr>
        <td th:text="'UID: '+${vtuber.uid}"></td>
    </tr>
    <tr>
        <td th:text="'关注数: '+${vtuber.follower}"></td>
    </tr>
    <tr>
        <td th:text="'舰长数: '+${vtuber.guard_num}"></td>
    </tr>
</table>
<br>
<br>
<div id="mei" style="width: 1600px;height:450px;"></div>
<br>
<br>
<div id="meparty" style="width: 1600px;height:450px;"></div>
<br>
<br>
<div id="mepay" style="width: 1600px;height:450px;"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    var myChart = echarts.init(document.getElementById('mei'));
    var myChart_2 = echarts.init(document.getElementById('meparty'));
    var myChart_3 = echarts.init(document.getElementById('mepay'));
    var option = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月营收'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['营收(元)']
        },
        xAxis: {
            axisLabel: {
                interval:0,//代表显示所有x轴标签显示
            },
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 20, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '营收',
            type: 'line',
            areaStyle: {},
            data: []
        }]
    };
    var option_2 = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月互动人数'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['互动人数']
        },
        xAxis: {
            axisLabel: {
                interval:0,//代表显示所有x轴标签显示
            },
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 20, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '互动人数',
            type: 'line',
            areaStyle: {},
            data: []
        }]
    };
    var option_3 = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月付费人数'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['付费人数']
        },
        xAxis: {
            axisLabel: {
                interval:0,//代表显示所有x轴标签显示
            },
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 20, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '付费人数',
            type: 'line',
            areaStyle: {},
            data: []
        }]
    };
    myChart.showLoading();
    myChart_2.showLoading();
    myChart_3.showLoading();
    var income = []; //y轴数据，营收
    var date = []; //x轴数据，月份
    var part = []; //y轴数据，互动人数
    var pay = []; //y轴数据，付费人数
    var path = 'getVall/?uid='+[[${uid}]]

    $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : path, //请求发送到TestServlet处
        dataType : "json", //返回数据形式为json
        success : function(result) {
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    date.push(result[i].date);
                    income.push(result[i].income);
                    part.push(result[i].part);
                    pay.push(result[i].pay);
                }
                option.xAxis.data = date;
                option.series[0].data = income;
                myChart.hideLoading();
                myChart.setOption(option);
                option_2.xAxis.data = date;
                option_2.series[0].data = part;
                myChart_2.hideLoading();
                myChart_2.setOption(option_2);
                option_3.xAxis.data = date;
                option_3.series[0].data = pay;
                myChart_3.hideLoading();
                myChart_3.setOption(option_3);
            }
        },
        error : function(errorMsg) {
            alert("图表请求数据失败!");
            myChart.hideLoading();
            myChart_2.hideLoading();
            myChart_3.hideLoading();
        }
    })
</script>
</html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <title>Info</title>
    <script src="https://cdn.bootcss.com/echarts/5.3.1/echarts.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1 style="font-size:40px;">Result</h1>
<table style="font-family:'Times New Roman';text-align:center">
    <tr align="left" >
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/month}">月</a></th>
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/day}">日</a></th>
        <th style="width: 250px;font-size:25px" ><a th:href="@{/Vtuber/ml}">Machine Learning</a></th>
        <th style="width: 500px">
            <form th:action="@{/Vtuber/queryVtuber}" method="post">
                <input type="submit" value="查找">
                <input type="text" name = "queryV" placeholder="......" required="required">
                <input name="queryV" type="radio" value="uid" id="uid" style="font-size:20px" checked="checked">UID
                <input name="queryV" type="radio" value="name" id="name" style="font-size:20px">名字
            </form>
        </th>
    </tr>
</table>
<br>
<br>
<table th:each="vtuber:${list}" border="1">
    <tr>
        <td rowspan="5">
            <img th:src="${vtuber.face}" width="180" height="180">
        </td>
    </tr>
    <tr align="left">
        <th th:text="${vtuber.name}"></th>
    </tr>
    <tr>
        <td th:text="'UID: '+${vtuber.uid}"></td>
    </tr>
    <tr>
        <td th:text="'关注数: '+${vtuber.follower}"></td>
    </tr>
    <tr>
        <td th:text="'舰长数: '+${vtuber.guard_num}"></td>
    </tr>
</table>
<br>
<br>
<div id="mei" style="width: 1600px;height:450px;"></div>
<br>
<br>
<div id="meparty" style="width: 1600px;height:450px;"></div>
<br>
<br>
<div id="mepay" style="width: 1600px;height:450px;"></div>
</body>
<script type="text/javascript" th:inline="javascript">
    var myChart = echarts.init(document.getElementById('mei'));
    var myChart_2 = echarts.init(document.getElementById('meparty'));
    var myChart_3 = echarts.init(document.getElementById('mepay'));
    var option = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月营收'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['营收(元)']
        },
        xAxis: {
            axisLabel: {
                interval:0,//代表显示所有x轴标签显示
            },
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 20, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '营收',
            type: 'line',
            areaStyle: {},
            data: []
        }]
    };
    var option_2 = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月互动人数'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['互动人数']
        },
        xAxis: {
            axisLabel: {
                interval:0,//代表显示所有x轴标签显示
            },
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 20, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '互动人数',
            type: 'line',
            areaStyle: {},
            data: []
        }]
    };
    var option_3 = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月付费人数'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['付费人数']
        },
        xAxis: {
            axisLabel: {
                interval:0,//代表显示所有x轴标签显示
            },
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 20, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '付费人数',
            type: 'line',
            areaStyle: {},
            data: []
        }]
    };
    myChart.showLoading();
    myChart_2.showLoading();
    myChart_3.showLoading();
    var income = []; //y轴数据，营收
    var date = []; //x轴数据，月份
    var part = []; //y轴数据，互动人数
    var pay = []; //y轴数据，付费人数
    var path = 'getVall/?uid='+[[${uid}]]
    
    $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : path, //请求发送到TestServlet处
        dataType : "json", //返回数据形式为json
        success : function(result) {
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    date.push(result[i].date);
                    income.push(result[i].income);
                    part.push(result[i].part);
                    pay.push(result[i].pay);
                }
                option.xAxis.data = date;
                option.series[0].data = income;
                myChart.hideLoading();
                myChart.setOption(option);

                option_2.xAxis.data = date;
                option_2.series[0].data = part;
                myChart_2.hideLoading();
                myChart_2.setOption(option_2);

                option_3.xAxis.data = date;
                option_3.series[0].data = pay;
                myChart_3.hideLoading();
                myChart_3.setOption(option_3);
            }
        },
        error : function(errorMsg) {
            alert("图表请求数据失败!");
            myChart.hideLoading();
            myChart_2.hideLoading();
            myChart_3.hideLoading();
        }
    })

</script>

</html>