<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>月</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/5.3.1/echarts.js"></script>
</head>
<body>
<h1 style="font-size:40px;">月整体情况</h1>
<table style="font-family:'Times New Roman';text-align:center">
    <tr align="left" >
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/month}">月</a></th>
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/day}">日</a></th>
        <th style="width: 250px;font-size:25px" ><a th:href="@{/Vtuber/ml}">Machine Learning</a></th>
        <th style="width: 500px">
            <form th:action="@{/Vtuber/queryVtuber}" method="post">
                <input type="submit" value="查找">
                <input type="text" name = "queryV" placeholder="......" required="required">
                <input name="queryV" type="radio" value="uid" id="uid" style="font-size:20px" checked="checked">UID
                <input name="queryV" type="radio" value="name" id="name" style="font-size:20px">名字
            </form>
        </th>
    </tr>
</table>

<br>
<br>
<div id="mei" style="width: 1600px;height:450px;"></div>
<br>
<br>
<div id="meparty" style="width: 1600px;height:450px;"></div>
<br>
<br>
<div id="mepay" style="width: 1600px;height:450px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('mei'));
    var option = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月营收'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['营收','前120位'],
        },
        xAxis: {
            boundaryGap: false,
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 70, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '营收',
            type: 'line',
            //stack: 'Total',
            areaStyle: {},
            data: []
        },{
            name:'前120位',
            type:'line',
            //stack: 'Total',
            areaStyle: {},
            data: []
        }]
    };
    myChart.showLoading();
    var income = []; //y轴数据，营收
    var date = []; //x轴数据，月份
    var top120 =[];
    $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "getMEI", //请求发送到TestServlet处
        dataType : "json", //返回数据形式为json
        success : function(result) {
            //请求成功时执行该函数内容，result即为服务器返回的json对象
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    income.push(result[i].income); //挨个取出类别并填入营收数组
                }
                for (var i = 0; i < result.length; i++) {
                    date.push(result[i].date); //挨个取出销量并填入月份数组
                }
                for (var i = 0; i < result.length; i++) {
                    top120.push(result[i].top); //挨个取出销量并填入月份数组
                }
                option.xAxis.data = date;
                option.series[0].data = income;
                option.series[1].data = top120;
                myChart.hideLoading();
                myChart.setOption(option);
            }
        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.hideLoading();
        }
    })

    var myChart_2 = echarts.init(document.getElementById('meparty'));
    var option_2 = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月互动人数'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['互动人数']
        },
        xAxis: {
            boundaryGap: false,
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 70, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '互动人数',
            type: 'line',
            areaStyle: {},
            data: []
        }]
    };
    myChart_2.showLoading();
    var part = []; //y轴数据，互动人数
    var date_d = []; //x轴数据，月份
    $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "getMEP", //请求发送到TestServlet处
        dataType : "json", //返回数据形式为json
        success : function(result) {
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    part.push(result[i].part);
                }
                for (var i = 0; i < result.length; i++) {
                    date_d.push(result[i].date_d);
                }
                option_2.xAxis.data = date_d;
                option_2.series[0].data = part;
                myChart_2.hideLoading();
                myChart_2.setOption(option_2);
            }
        },
        error : function(errorMsg) {
            alert("图表请求数据失败!");
            myChart_2.hideLoading();
        }
    })

    var myChart_3 = echarts.init(document.getElementById('mepay'));
    var option_3 = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            text: '月付费人数'
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
            }
        },
        legend: {
            data:['付费人数']
        },
        xAxis: {
            boundaryGap: false,
            type:'category',
            data: []
        },
        yAxis: {
            type:'value'
        },
        dataZoom:[{
            type:'slider',
            start : 70, //伸缩条开始位置（1-100），可以随时更改
            end : 100 //伸缩条结束位置（1-100），可以随时更改
        }],
        series: [{
            name: '付费人数',
            type: 'line',
            areaStyle: {},
            data: []
        }]
    };
    myChart_3.showLoading();
    var pay = []; //y轴数据，付费人数
    var date_pay = []; //x轴数据，月份
    $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : "getMEPay", //请求发送到TestServlet处
        dataType : "json", //返回数据形式为json
        success : function(result) {
            if (result) {
                for (var i = 0; i < result.length; i++) {
                    pay.push(result[i].pay);
                }
                for (var i = 0; i < result.length; i++) {
                    date_pay.push(result[i].date_pay);
                }
                option_3.xAxis.data = date_pay;
                option_3.series[0].data = pay;
                myChart_3.hideLoading();
                myChart_3.setOption(option_3);
            }
        },
        error : function(errorMsg) {
            alert("图表请求数据失败!");
            myChart_3.hideLoading();
        }
    })
</script>
</body>
</html>