<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ML</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.1/echarts.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1 style="font-size:40px;font-family:'Times New Roman'">Machine Learning</h1>
<table style="font-family:'Times New Roman';text-align:center">
    <tr align="left" >
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/month}">月</a></th>
        <th style="width: 80px;font-size:25px"><a th:href="@{/Vtuber/day}">日</a></th>
        <th style="width: 250px;font-size:25px" ><a th:href="@{/Vtuber/ml}">Machine Learning</a></th>
        <th style="width: 500px">
            <form th:action="@{/Vtuber/queryVtuber}" method="post">
                <input type="submit" value="查找">
                <input type="text" name = "queryV" placeholder="......" required="required">
                <input name="queryV" type="radio" value="uid" id="uid" style="font-size:20px" checked="checked">UID
                <input name="queryV" type="radio" value="name" id="name" style="font-size:20px">名字
            </form>
        </th>
    </tr>
</table>
<br>
<br>
<h2>聚类分析</h2>
<img src="/pic/2.png" alt=""/>
<p>据图可知，绝大部分虚拟偶像处于从左往右数的第一个聚类中心，即关注数在50万以下。</p>
<p>少部分处于第二个聚类中心，即关注数大于50万，小于100万。极少数处于第三或第四个聚类中心，即关注数在150万以上。</p>
<p>各个聚类中心的平均收入大多分布在同一个区间内，批次分布较为均匀、稳定。</p>
<h2>回归分析</h2>
<img src="/pic/line.png" alt="">
<p>据图可知， 模型拟合效果较为良好，平均付费人数与关注数有较强的回归关系。</p>
</body>
</html>
